@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

/* Variables */

:root{
  --darkBlue: hsl(235,21%,11%);
  --blueDD: hsl(235, 24%, 19%);
  --gradient: linear-gradient(to rigth, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/* Styles */

body {
  background: var(--darkBlue);
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans";
  font-weight: 400;
  position: relative;
  font-size: 18px;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  background: url('./img/bg-desktop-dark.jpg');
  width: 100%;
  height: 30vh;
  background-position: fixed;
  background-size: cover;
  z-index: -1;
}

.todo {
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo h1{
  width: 30%;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-weight: 700;
  transition: .3s ease-in-out; 
}

/* New Task Styles*/
.newTask {
  background: var(--blueDD);
  padding: 1em;
  width: 30%;
}


.newTask input[type="text"]{
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: .5em;
}
.allTasks{
  background: var(--blueDD);
  margin: 1em 0 0 0;
  width: 30%;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.task{
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  --webkit-line-clamp: 3;
}

.btn{
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 15px;
  position: relative;
  transition: .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
.btn:hover{
  color: var(--blueDD);
  border-color: var(--blueDD);
}
.btn::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 100%, 65%));
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: .3s ease-in-out;

}
.btn:hover:before{
  transform: translate(0);
}

